body {
  padding-top: 56px;
}

.hero {
  background: #0a79f1;
  color: white;
  padding: 50px 50px;
  text-align: center;
}

.projects img {
  width: 100%;
  height: auto;
}

.footer {
  background: #f8f9fa;
  padding: 20px 0;
  text-align: center;
}
